
Source: capi-system-sensor
Section: libs
Priority: extra
Maintainer: pius lee <pius.lee@samsung.com>
Build-Depends: debhelper (>= 5), dlog-dev, libslp-sensor-dev, capi-base-common-dev, libglib2.0-dev

Package: capi-system-sensor
Architecture: any
Depends: ${shilbs:Depends}, ${misc:Depends}
Description: A Sensor library in Tizen Native API

Package: capi-system-sensor-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-system-sensor (= ${Source-Version}), dlog-dev, libslp-sensor-dev, capi-base-common-dev
Description: A Sensor library in Tizen Native API (DEV)

Package: capi-system-sensor-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-system-sensor (= ${Source-Version})
Description: A Sensor library in Tizen Native API (DBG)

